/* DEV 
.head {
float:right    
}
body {
background: #111;
color: #e2e2e2;
}
#visual-portal-wrapper { 
background: #223773;
background: #111;
margin:0 auto;
width:90%; 
max-width: none;
} 
 * */ 
/*
 *
 *    WORKFLOW-STATES
 *    AND -TRANSITIONS
 *
 */
.buttons a {
    color: inherit;
    opacity: 0.27;
outline: 1px dotted;
}


.buttons .start,
.state-active {
    color: #207207; /* green */
}
.buttons .block,
.state-blocked {
    color: red;
}
.buttons .close,
.state-closed {
    color: #333;
}
.buttons .close,
.state-new {
    color: #223772; /* darkblue */
}
.buttons .pause,
.state-waiting {
    color: orange;
}
.buttons .info a,
.closed .start, 
.waiting .start,
.new .start,
.active .close,
.active .pause, 
.active .block {
    opacity: 1;
}
/*
 *
 *    TICKET-VIEW
 *
 */
/* Buttons: */
.portaltype-ticket .head a {
    display: inline-block;
    height: 1.61em;
    line-height: 1.61em;
    text-align: center;
    vertical-align: middle;
    width: 1.61em;
height: 18px;
line-height: 18px;
width: 18px;
font-size: 12px;
}
/* Adjust icon-posis: */
.portaltype-ticket
.buttons .start {
padding-bottom: 3px;
}
.portaltype-ticket
.buttons .pause {
padding-top: 2px;
}
.portaltype-ticket 
.add {
    opacity: 1;
}
.portaltype-ticket 
.add span {
    font-size: 77%;
}
/* Subtickets-list: */
body.portaltype-ticket ol {
    list-style: decimal;
}
.portaltype-ticket 
.substeps > span {
    font-style: italic;
}
/*
 *
 *    BASE-VIEW
 *
 */
#archetypes-fieldname-responsiblePerson {
    position: absolute;
    top: 0;
    left: 80%;
    margin-left: 1em;
}
#archetypes-fieldname-responsiblePerson {
    top: 2.77em;
}
/*
 *
 *    EDIT-VIEW
 *
 */
.portaltype-ticket input[type=submit],
.portaltype-ticket input[type=password],
.portaltype-ticket input[type=text],
.portaltype-ticket textarea {
    width: 80%;
    outline: none;
    border: 1px dashed #90C3D4;
}
.portaltype-ticket input[type=submit] {
    width: auto;
    min-width: 1.61em;
    border-radius: 27%;
}
/*
 *
 *    NON-DISPLAYS
 *
 */
.template-atct_edit.portaltype-ticket
#edit-bar,
.template-atct_edit.portaltype-ticket
.fieldUploadFile,
.template-atct_edit.portaltype-ticket
#text_text_format,
.template-atct_edit.portaltype-ticket
.label,
.template-atct_edit.portaltype-ticket
label,
.template-atct_edit.portaltype-ticket
.documentFirstHeading,
.template-atct_edit.portaltype-ticket
#content div:nth-child(2),
.template-atct_edit.portaltype-ticket
#fieldsetlegend-default,
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
#fieldset-dates,
.template-atct_edit.portaltype-ticket
#fieldset-creators,
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
#fieldset-settings,
.template-atct_edit.portaltype-ticket
#cmfeditions_version_comment_block,
.section-tickets .documentByLine,
#step-info,
.portaltype-ticket .navTree img {
    display: none;
}
#step-info:target,
.template-atct_edit.portaltype-ticket
input[name="responsiblePerson"] ~ label {
    display: inline-block;
outline: 1px solid;
}
