.buttons a {
outline: 1px dotted;
}
/*
 *
 *    TICKET-VIEW
 *
 */
/* Buttons: */
.portaltype-ticket .buttons a {
    display: inline-block;
    height: 1.61em;
    line-height: 1.61em;
    text-align: center;
    vertical-align: middle;
    width: 1.61em;
    color: inherit;
height: 18px;
line-height: 18px;
width: 18px;
font-size: 12px;
}
.buttons .info a:hover,
.new
.pause
,
.new
.close
,
.new
.block
,
.waiting
.pause
,
.waiting
.close
,
.waiting
.block
,
.closed
.pause
,
.closed
.close
,
.closed
.block
,
.closed
.start
,
.blocked
.pause
,
.blocked
.close
,
.blocked
.block
,
.blocked
.start
,
.active .start,
.portaltype-ticket .buttons a[disabled] {
    opacity: 0.277;
}
/* Adjust icon-posis: */
.portaltype-ticket
.buttons .start {
padding-bottom: 3px;
}
.portaltype-ticket
.buttons .pause {
padding-top: 2px;
}
.portaltype-ticket 
.add span {
    font-size: 77%;
}
/*
 *
 *    BASE-VIEW
 *
 */
#archetypes-fieldname-responsiblePerson {
    position: absolute;
    top: 0;
    left: 80%;
    margin-left: 1em;
}
#archetypes-fieldname-responsiblePerson {
    top: 2.77em;
}
/*
 *
 *    EDIT-VIEW
 *
 */
.portaltype-ticket input[type=submit],
.portaltype-ticket input[type=password],
.portaltype-ticket input[type=text],
.portaltype-ticket textarea {
    width: 80%;
    outline: none;
    border: 1px dashed #90C3D4;
}
.portaltype-ticket input[type=submit] {
    width: auto;
    min-width: 1.61em;
    border-radius: 27%;
}
/*
 *
 *    NON-DISPLAYS
 *
 */
.template-atct_edit.portaltype-ticket
#edit-bar,
.template-atct_edit.portaltype-ticket
.fieldUploadFile,
.template-atct_edit.portaltype-ticket
#text_text_format,
.template-atct_edit.portaltype-ticket
.label,
.template-atct_edit.portaltype-ticket
label,
.template-atct_edit.portaltype-ticket
.documentFirstHeading,
.template-atct_edit.portaltype-ticket
#content div:nth-child(2),
.template-atct_edit.portaltype-ticket
#fieldsetlegend-default,
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
#fieldset-dates,
.template-atct_edit.portaltype-ticket
#fieldset-creators,
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
#fieldset-settings,
.template-atct_edit.portaltype-ticket
#cmfeditions_version_comment_block,
.section-tickets .documentByLine,
#step-info,
.portaltype-ticket .navTree img {
    display: none;
}
#step-info:target,
.template-atct_edit.portaltype-ticket
input[name="responsiblePerson"] ~ label {
    display: inline-block;
outline: 1px solid;
}
