body {
  line-height: 1.61em;
  font-family: Arial, sans;
  font-size: 1em;
  position: relative;
  top: 0;
  bottom: 1em;
  margin-bottom: 3em;
}
.stepsHeaderLinks {
  text-align: right;
}
a:focus {
  outline: 1px dotted;
}
a[disabled] {
  opacity: 0.27;
}
.buttons a, .button {
  display: inline-block;
  min-width: 1.61em;
  min-height: 1.61em;
  text-align: center;
}
.showChildren {
  background: url("arrowRight.png") no-repeat center;
}
.hideChildren {
  background: url("arrowDown.png") no-repeat center;
}
.hideText:before {
  content: '-';
}
.showText:before {
  content: '+';
}
.text.preview {
  font-size: 0.7em;
}
.controls {
  position: fixed;
  bottom: 1em;
  right: 0;
  width: 100%;
  line-height: 2em;
  height: 2em;
}
.controls:hover {
  height: auto;
}
.controls > div {
  display: inline;
}
.controls .buttons {
  padding: 0 1em;
}
