// Global definiton of background-color, font-color and borders, here please.
$bg_primary: lightyellow;
$bg_secondary: #f1f1f1;
$bg_tertiary: #b3b3b3;
$bg_tertiary: #272727;
$bg_content: $bg_primary;
$border_color_regular: silver;
$border_style_regular: solid;
$border_width_regular: 0.1em;
$border_regular: $border_width_regular
$border_style_regular $border_color_regular;
$col_primary: #444;
$col_secondary: #a1a1a1;
$col_active: #207207; // green
$col_closed: #223772; // darkblue
$col_waiting: orange;
/* Nightsight, (un-)comment to switch:
*/
$bg_primary: #011435;
$bg_secondary: $bg_primary;
$bg_tertiary: #272727;
$bg_tertiary: #08284F; // very dark blue
$bg_content: $bg_primary;
$col_primary: #fff!important;


body {
    background: $bg_primary;
    color: $col_primary;
}
.buttons {
    background: $bg_tertiary;
}
#content {
    background: $bg_content;
}
.step {
//    border-top: $border_regular;
}
.head {
    background: $bg_secondary;
    color: $col_secondary;
}

// Workflow-states and -transitions:
.start, .state-active { color: $col_active; }
.state-closed { color: inherit; }
.close, .state-new { color: $col_closed; }
.pause, .state-waiting { color: $col_waiting; }
