$border_color_primary: silver;
$border_style_primary: solid;
$border_width_primary: 0.1em;
$border_primary: $border_width_primary $border_style_primary $border_color_primary;
$font_family_primary: Arial, sans;
$font_size_primary: 1em;
$font_size_secondary: 0.65em;
$line_height_primary: 1.61em;
$line_height_secondary: 1.5em;
$button_min_width: $line_height_primary;
$controls_height: $font_size_primary*2;
$controls_margin_bottom: $font_size_primary;

