body {
  background: #011435;
  color: #fff !important;
}
.buttons {
  background: #08284F;
}
#content {
  background: #011435;
}
.head {
  background: #011435;
  color: #a1a1a1;
}
.start, .state-active {
  color: #207207;
}
.state-closed {
  color: inherit;
}
.close, .state-new {
  color: #223772;
}
.pause, .state-waiting {
  color: orange;
}
