@import 'variables';

body.portaltype-stepbystep {
    line-height: $line_height_primary;
    font-family: $font_family_primary;
    font-size: $font_size_primary;
    #content {
        position: relative;
        top: 0;
        bottom: $controls_margin_bottom;
        margin-bottom: $controls_height + $controls_margin_bottom;
        .stepsHeader {
            text-align: right;
        }
        //
        // BUTTONS
        //
        a:focus {
            outline: 1px dotted;
        }
        a[disabled] {
            opacity: 0.27;
            outline: 1px dotted red;
        }
        .buttons a,
        .button {
            display: inline-block;
            min-width: $button_min_width;
            min-height: $line_height_primary;
            text-align: center;
        }
        .showChildren {
            background: url("++resource++adi.stepbysteps.resources/closed.png")
                        no-repeat center;
        }
        .hideChildren {
            background: url("++resource++adi.stepbysteps.resources/expanded.png")
                        no-repeat center;
        }
        .hideText:before {
            content: '-';
        }
        .showText:before {
            content: '+';
        }
        .controls {
            z-index: 27; /* override Plone default-styles of #portal-footer */
            position: fixed;
            bottom: $controls_margin_bottom;
            right: 0;
            width: 100%;
            line-height: $controls_height;
            height: $controls_height;
            &:hover {
                height: auto;
            }
            .buttons {
                padding: 0 1em;
                div {
                    display: inline;
                }
            }
        } // .controls
    } // #content
} // body.portaltype-stepbystep
