$bg_primary: lightyellow;
$bg_primary: #E1EAB6; /* lightgreen */
$bg_secondary: #f1f1f1;
$bg_tertiary: #b3b3b3;
$bg_content: $bg_primary;
$border_color_regular: silver;
$border_style_regular: solid;
$border_width_regular: 0.1em;
$border_regular: $border_width_regular $border_style_regular
                                       $border_color_regular;
$col_primary: #444;
$col_secondary: #a1a1a1;

/* Nightsight, (un-)comment to switch:
$bg_primary: #011435;
$bg_secondary: $bg_primary;
$bg_tertiary: #272727;
$bg_content: $bg_primary;
$col_primary: #fff!important;
*/


/************************************
 *                                  *
 *            GENERAL               *
 *                                  *
 ************************************/
body.portaltype-stepbystep {
    background: $bg_primary;
    color: $col_primary;
    a {
    color: $col_primary !important;
    }
    .buttons {
        background: $bg_tertiary;
    }
    #content {
        background: $bg_content;
    }
    .step {
        border-top: $border_regular;
    }
    .head {
        background: $bg_secondary;
        color: $col_secondary;
    }
}

/************************************
 *                                  *
 * WORKFLOW-STATES AND -TRANSITIONS *
 *                                  *
 ************************************/
.start,
.state-active {
    color: #207207 !important; /* green */
}
.block,
.state-blocked {
    color: red !important;
}
.state-closed {
    color: inherit !important;
}
.close,
.state-new {
    color: #223772 !important; /* darkblue */
}
.pause,
.state-waiting {
    color: orange !important;
}

