@import 'variables';

body {
    line-height: $line_height_primary;
    font-family: $font_family_primary;
    font-size: $font_size_primary;
    position: relative;
    top: 0;
    bottom: $controls_margin_bottom;
    margin-bottom: $controls_height + $controls_margin_bottom;
}
.stepsHeaderLinks {
    text-align: right;
}
//
// BUTTONS
//
a:focus {
    outline: 1px dotted;
}
a[disabled] {
    opacity: 0.27;
}
.buttons a,
.button {
    display: inline-block;
    min-width: $button_min_width;
    min-height: $line_height_primary;
    text-align: center;
}
.showChildren { background: url("arrowRight.png") no-repeat center; }
.hideChildren { background: url("arrowDown.png") no-repeat center; }
.hideText:before {
    content: '-';
}
.showText:before {
    content: '+';
}
.text.preview {
    font-size: 0.7em;
}
.header {
    position: relative;
    .loadLink {
        position: absolute;
    }
}
//
// CONTROLS
//
.controls {
    position: fixed;
    bottom: $controls_margin_bottom;
    right: 0;
    width: 100%;
    line-height: $controls_height;
    height: $controls_height;
    &:hover {
        height: auto;
    }
    & > div {
        display: inline;
    }
    .buttons {
        padding: 0 1em;
    }
}
