/************************************
 *                                  *
 *       COLORS AND BORDERS         *
 *                                  *
 ************************************/
$bg_primary: lightyellow;
$bg_primary: #E1EAB6; /* lightgreen */
$bg_secondary: #f1f1f1;
$bg_tertiary: #b3b3b3;
$bg_content: $bg_primary;
$border_color_regular: silver;
$border_style_regular: solid;
$border_width_regular: 0.1em;
$border_regular: $border_width_regular
$border_style_regular $border_color_regular;
$col_primary: #444;
$col_secondary: #a1a1a1;
$col_active: #207207; /* green */
$col_closed: #223772; /* darkblue */
$col_waiting: orange;
/* Nightsight, (un-)comment to switch:
$bg_primary: #011435;
$bg_secondary: $bg_primary;
$bg_tertiary: #272727;
$bg_content: $bg_primary;
$col_primary: #fff!important;
*/

body {
    background: $bg_primary;
    color: $col_primary;
}
.buttons {
    background: $bg_tertiary;
}
#content {
    background: $bg_content;
}
.step {
    border-top: $border_regular;
}
.head {
    background: $bg_secondary;
    color: $col_secondary;
}

// Workflow-states and -transitions:
.start, .state-active { color: $col_active; }
.state-closed { color: inherit; }
.close, .state-new { color: $col_closed; }
.pause, .state-waiting { color: $col_waiting; }

/************************************
 *                                  *
 *         ANYTHING  ELSE           *
 *                                  *
 ************************************/
@import 'variables';

body {
    line-height: $line_height_primary;
    font-family: $font_family_primary;
    font-size: $font_size_primary;
    position: relative;
    top: 0;
    bottom: $controls_margin_bottom;
    margin-bottom: $controls_height + $controls_margin_bottom;
}
.stepsHeaderLinks {
    text-align: right;
}
//
// BUTTONS
//
a:focus {
    outline: 1px dotted;
}
a[disabled] {
    opacity: 0.27;
}
.buttons a,
.button {
    display: inline-block;
    min-width: $button_min_width;
    min-height: $line_height_primary;
    text-align: center;
}
.showChildren { background: url("arrowRight.png") no-repeat center; }
.hideChildren { background: url("arrowDown.png") no-repeat center; }
.hideText:before {
    content: '-';
}
.showText:before {
    content: '+';
}
//
// CONTROLS
//
.controls {
    position: fixed;
    bottom: $controls_margin_bottom;
    right: 0;
    width: 100%;
    line-height: $controls_height;
    height: $controls_height;
    &:hover {
        height: auto;
    }
    .buttons {
        padding: 0 1em;
        div {
            display: inline;
        }
    }
}
