body {
    font-family: Helvetica;
    line-height: 1.61em;
    background: #fffdc9;
    color: #333;
/* nightsight:
outline: 1px solid;
background:#111;
color: #e2e2e2;
*/
}
.documentDescription,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
    background: inherit;
    color: inherit;
}
h1 {
    font-size: 2.1em;
}
h2 {
    font-size: 1.61em;
}
h3 {
    font-size: 1.25em;
}
h4, h5, h6 {
    font-size: 1.15em;
}
ol ol,
ul ul {
    margin-left: 0.85em;
}
/* STRUCTURE */
#visual-portal-wrapper {
    width: 90%;
    margin: 2.77em auto;
    max-width: 999px;
    background: #f1f1f1;
/* nightsight:
background:#222;
*/
}
#visual-portal-wrapper > div {
    padding: 0.81em;
}
div.position-0 {
    margin-left: -99.99%;
}
/* CONTENT AREA */
#content ul,
#content-core ul,
#content ol,
#content-core ol {
    margin-top: 0.85em;
    margin-bottom: 0.85em;
}
#content ul li,
#content-core ul li {
    list-style: inside none disc;
}
#content ol li,
#content-core ol li {
    list-style: inside none decimal;
}
.documentDescription {
    color: #333;
}
.discreet {
    font-size: 77%;
    line-height: 1.61em;
}
/* SELECTED ELEMENTS */
.navTreeItem span {
    opacity: 0.5;
}
.navTreeItem.navTreeCurrentNode > div span {
    opacity: 1;
}
/* Opinionated UI-design decisions: */
.portaltype-plone-site.template-folder_listing .discreet {
    color: transparent;
}
.portaltype-plone-site.template-folder_listing .discreet:after {
    content: 'Nothing to see here move on, move on ...';
    color: #333;
}
.portaltype-plone-site.template-folder_listing h1,
.template-folder_listing .documentByLine,
.managePortletsLink,
.hiddenStructure {
    display: none;
}

