body{
    background: #fff;    
}
a {
    color: darkblue;
}
li {
    display: inline-block;
}
li a {
    padding: 0 1em;
}
/* TODO: first- and last-child also apply on invisible eles, check if visible, also. */
ol li:first-child a,
ul li:first-child a {
    padding-left: 0;
}
ol li:last-child a,
ul li:last-child a {
    padding-right: 0;
}
.selected {
    font-weight: bold;
}
