.portaltype-ticket input[type=submit],
.portaltype-ticket input[type=password],
.portaltype-ticket input[type=text],
.portaltype-ticket textarea {
    width: 80%;
    outline: none;
    border: 1px dashed #90C3D4;
}
.portaltype-ticket input[type=submit] {
    width: auto;
    min-width: 1.61em;
    border-radius: 27%;
}
.template-atct_edit.portaltype-ticket
#fieldsetlegend-creators:before {
    content: 'Persons';
    font-weight: bold;
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-contributors:before {
    content: 'Responsibles';
    font-weight: bold;
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-rights:before {
    content: 'Watchers';
    font-weight: bold;
}
.template-atct_edit.portaltype-ticket
#fieldsetlegend-default:before {
    content: 'Text';
    font-weight: bold;
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-creators:before {
    content: 'Reporter';
    font-weight: bold;
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-effectiveDate:before {
    content: 'Due start-time';
    font-weight: bold;
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-expirationDate:before {
    content: 'Due end-time';
    font-weight: bold;
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-effectiveDate > span,
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-expirationDate > span {
}
/* HIDE: */
.template-atct_edit.portaltype-ticket
#fieldsetlegend-default span, /* 'Default' */
.template-atct_edit.portaltype-ticket
#fieldsetlegend-creators span { /* 'Creators' */
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline-block;
}
/* NON-DISPLAYS: 
*/
.template-atct_edit.portaltype-ticket
#edit-bar,
.template-atct_edit.portaltype-ticket
.fieldUploadFile,
.template-atct_edit.portaltype-ticket
#text_text_format,
.template-atct_edit.portaltype-ticket
.label,
.template-atct_edit.portaltype-ticket
legend,
.template-atct_edit.portaltype-ticket
label,
.template-atct_edit.portaltype-ticket
.documentFirstHeading,
.template-atct_edit.portaltype-ticket
#content > div:nth-child(2),
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
#fieldsetlegend-categorization,
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
.suppressVisualEditor,
.template-atct_edit.portaltype-ticket
#fieldset-settings,
.template-atct_edit.portaltype-ticket
#fieldsetlegend-settings,
.template-atct_edit.portaltype-ticket
#cmfeditions_version_comment_block {
    display: none;
}
.template-atct_edit.portaltype-ticket
#fieldset-dates ~ label,
.template-atct_edit.portaltype-ticket
input[name="responsiblePerson"] ~ label {
    display: inline-block;
}
