.portaltype-ticket input[type=submit],
.portaltype-ticket input[type=password],
.portaltype-ticket input[type=text],
.portaltype-ticket textarea {
    width: 80%;
    outline: none;
    border: 1px dashed #90C3D4;
}
.portaltype-ticket input[type=submit] {
    width: auto;
    min-width: 1.61em;
    border-radius: 27%;
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-contributors:before {
    content: 'Watchers';
}
.template-atct_edit.portaltype-ticket
#archetypes-fieldname-rights:before {
    content: 'Responsers';
}
/* NON-DISPLAYS: 
.template-atct_edit.portaltype-ticket
#fieldset-creators,
*/
.template-atct_edit.portaltype-ticket
#edit-bar,
.template-atct_edit.portaltype-ticket
.fieldUploadFile,
.template-atct_edit.portaltype-ticket
#text_text_format,
.template-atct_edit.portaltype-ticket
.label,
.template-atct_edit.portaltype-ticket
legend,
.template-atct_edit.portaltype-ticket
label,
.template-atct_edit.portaltype-ticket
.documentFirstHeading,
.template-atct_edit.portaltype-ticket
#content div:nth-child(2),
.template-atct_edit.portaltype-ticket
#fieldsetlegend-default,
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
#fieldset-dates,
.template-atct_edit.portaltype-ticket
#fieldset-categorization,
.template-atct_edit.portaltype-ticket
#fieldset-settings,
.template-atct_edit.portaltype-ticket
#cmfeditions_version_comment_block {
    display: none;
}
.template-atct_edit.portaltype-ticket
input[name="responsiblePerson"] ~ label {
    display: inline-block;
outline: 1px solid;
}
