.portaltype-ticket
.title {
    font-size: 127%;
}
.portaltype-ticket
.head {
    font-size: 77%;
}
.portaltype-ticket
.child {
    margin-left: 0.85em;
    border-top: 1px solid silver;
}
.portaltype-ticket
#content-core > .children {
    border-bottom: 1px solid silver;
}
/* DISPLAY */
.portaltype-ticket
.buttons div {
    display: inline;
}
/*
.portaltype-ticket
.number,
.portaltype-ticket
.title,
*/
.portaltype-ticket
.fieldset,
.portaltype-ticket
.field,
.portaltype-ticket
.field .name,
.portaltype-ticket
.field .value {
    display: inline-block;
}
/* NAV-PORTLET */
.portaltype-ticket
.portletNavigationTree img {
    display: none;
}
.portaltype-ticket
.portletNavigationTree li a:before {
    content: '-';
}
/* DEV 
*{outline: 1px solid}
.creator .value::first-letter,
.responsible .value::first-letter,
.state .value::first-letter {
    text-transform: uppercase;
}
*/
/* EO DEV */
