/* DEV:
#visual-portal-wrapper,
body {
background: #000;
color: #a1a1a1;
height: 100%;
overflow: hidden;
}
*/
.portaltype-ticket
#content-core:first-of-type {
    border: 1px solid silver;
border-color: #333;
}
.portaltype-ticket
.title {
    font-size: 127%;
}
.portaltype-ticket
.head {
    font-size: 77%;
    color: #555;
}
.portaltype-ticket
.children {
    margin-left: 1em;
}
.portaltype-ticket
.children:first-child {
}
.portaltype-ticket
.child {
    border-bottom: 1px solid silver;
border-color: #333;
}
/* BUTTONS */
.portaltype-ticket
.buttons div {
    display: inline;
}
.portaltype-ticket
.buttons a {
    min-width: 1.61em;
}
/* FIELDS */
.portaltype-ticket
.fieldset,
.portaltype-ticket
.field,
.portaltype-ticket
.field .name,
.portaltype-ticket
.field .value {
    display: inline-block;
}
.portaltype-ticket
.field {
    margin-right: 1em;
}
.portaltype-ticket
.field:not(:first-of-type):last-of-type {
    margin-right: 0;
}
.portaltype-ticket
.field .name {
    margin-right: 0.5em;
}
.portaltype-ticket
.field .name:after {
    content: ':';
}

