#edit-bar {
height: 1.27em;
overflow: hidden;
}
/* DEV:
#visual-portal-wrapper,
body {
background: #272727;
color: #a1a1a1;
height: 100%;
overflow: hidden;
font-family: 'Times New Roman';
font-size: 127%;
}
body.portaltype-ticket
.head,
body.portaltype-ticket
.buttons,
body.portaltype-ticket
.children {
background: #272727;
color: #a1a1a1;
}
#content {
position: relative;
top: 0;
left:0;
}
#content > #content-core {
max-height: 127px;
max-height: 227px;
overflow: hidden;
}
*/

/*
 *
 *  OPACITY
 *
 */
.portaltype-ticket
a[disabled] {
    opacity: 0.27;
}
.portaltype-ticket
.head {
    opacity: .75;
}
/*
 *
 *  BACKGROUND
 *
 */
.portaltype-ticket
.head,
.portaltype-ticket
.children {
background: #f1f1f1;
}
.portaltype-ticket
.buttons {
background: #b3b3b3;
}

/* FONT */
.portaltype-ticket {
    font-family: 'Arial';
    font-size: 27px;
    color: #444;
    line-height: 1.61em;
}
.portaltype-ticket
.header {
    font-size: 150%;
}
.portaltype-ticket
.head {
    font-size: 65%;
    line-height: 1.5em;
}
.portaltype-ticket
.children, 
.portaltype-ticket
.children .text {
    font-size: .85em;
}
/*
.portaltype-ticket
.children .children .children .children {
    font-size: 1em;
    margin-left: 0;
}
*/
/* LINKS */
.portaltype-ticket
a:focus {
    color: lightgreen;
}
.portaltype-ticket
a[disabled].dummy {
    color: transparent;
}
.portaltype-ticket
.buttons a {
    display: inline-block;
    min-width: 1.61em;
    text-align: center;
}
/* BORDERS */
.portaltype-ticket
#content {
    border: 1px dotted lightblue;
}
.portaltype-ticket
.children {
    border-bottom: 1px dotted lightblue;
}
.portaltype-ticket
.child {
    border-top: 1px dotted lightblue;
}
.portaltype-ticket
.buttons .editables a  {
    border: 1px solid;
}
/*
 *
 *  SEPARATING-SPACES AND -CONTENT
 *
 */
.portaltype-ticket
.head {
    padding: 0.25em 0.5em;
}
.portaltype-ticket
.text {
    padding: 1em 0.5em;
}
.portaltype-ticket
.fieldpair {
    padding-right: 0.5em;
}
.portaltype-ticket
.children .children {
    margin-left: 1em;
}
.portaltype-ticket
.buttons div:last-child a:last-child {
    margin-right: 0;
}
.portaltype-ticket
.fieldpair .name {
    margin-right: .27em;
}
.portaltype-ticket
.fieldpair .name:after {
    content: ':';
}
/* 
 *
 * POSITIONING
 *
 */
.portaltype-ticket
#content {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 3em;
}
.portaltype-ticket
.buttons {
    line-height: 3em;
    height: 3em;
    position: fixed;
    bottom: 0;
    right:0;
    width: 100%;
    text-align: right;
}
/* DISPLAY */
.portaltype-ticket
.buttons div {
    display: inline;
}
.portaltype-ticket
.fieldset,
.portaltype-ticket
.fieldpair,
.portaltype-ticket
.fieldpair .name,
.portaltype-ticket
.fieldpair .value {
    display: inline-block;
}

