#edit-bar {
height: 1.27em;
overflow: hidden;
}
$bg_primary: #272727;
$col_primary: #a1a1a1;

$bg_primary: #fff;
$bg_secondary: #f1f1f1;
$bg_tertiary: #b3b3b3;
$col_primary: #444;
$col_secondary: #a1a1a1;
$font_family_primary: Arial, sans;
$font_size_regular: 14px*1.27;

body.portaltype-stepbystep {
    height: 100%;
    overflow: hidden;
    line-height: 1.61em;
    background: $bg_primary;
    color: $col_primary;
    font-family: $font_family_primary;
    font-size: $font_size_regular;
    .header {
        font-size: 150%;
    }
    .head {
        font-size: 65%;
        line-height: 1.5em;
        background: $bg_secondary;
    }
    .children {
        background: $bg_secondary;
    }
    .buttons {
        background: $bg_tertiary;
        a {
            display: inline-block;
            min-width: 1.61em;
            text-align: center;
        }
    }
    .children {
        font-size: .85em;
        .text {
            font-size: .85em;
        }
        .children .children .children {
            font-size: 1em;
            margin-left: 0;
        }
    }
}
/*
 *
 *  OPACITY
 *
 */
body.portaltype-stepbystep {
a[disabled] {
    opacity: 0.27;
}
.head {
    opacity: .75;
}

/* LINKS */
a:focus {
    color: lightgreen;
}
a[disabled].dummy {
    color: transparent;
}
/* BORDERS */
#content {
    border: 1px dotted lightblue;
}
.children {
    border-bottom: 1px dotted lightblue;
}
.child {
    border-top: 1px dotted lightblue;
}
.buttons .editables a  {
    border: 1px solid;
}
/*
 *
 *  SEPARATING-SPACES AND -CONTENT
 *
 */
.head {
    padding: 0.25em 0.5em;
}
.text {
    padding: 1em 0.5em;
}
.fieldpair {
    padding-right: 0.5em;
}
.children .children {
    margin-left: 1em;
}
.buttons div:last-child a:last-child {
    margin-right: 0;
}
.fieldpair .name {
    margin-right: .27em;
}
.fieldpair .name:after {
    content: ':';
}
/* 
 *
 * POSITIONING
 *
 */
#content {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 3em;
}
.buttons {
    line-height: 3em;
    height: 3em;
    position: fixed;
    bottom: 0;
    right:0;
    width: 100%;
}
/* DISPLAY */
.buttons div {
    display: inline;
}
/*
.buttons > div {
    display: inline-block;
    width: 45%;
outline: 1px solid;
}
*/
.fieldset,
.fieldpair,
.fieldpair .name,
.fieldpair .value {
    display: inline-block;
}

} /* EO body.portaltype-stepbystep */
