$border_primary: 1px solid;
$bg_primary: #fff;
$bg_secondary: #f1f1f1;
$bg_tertiary: #b3b3b3;
$col_primary: #444;
$col_secondary: #a1a1a1;
$font_family_primary: Arial, sans;
$font_size_regular: 14px;
$font_size_primary: 1em;
$font_size_secondary: 0.65em;
$line_height_primary: 1.61em;
$line_height_secondary: 1.5em;
$controls_height: $font_size_regular*2;
$controls_margin_bottom: $font_size_regular;


/* Nightsight, (un-)comment to switch:
$bg_primary: #272727;
$bg_primary: #222;
$bg_secondary: $bg_primary;
$bg_tertiary: $bg_primary;
$col_primary: #a1a1a1;
*/


body.portaltype-stepbystep {
    height: 100%;
    overflow: hidden;
    line-height: $line_height_primary;
    background: $bg_primary;
    color: $col_primary;
    font-family: $font_family_primary;
    font-size: $font_size_regular;
    a:focus {
        outline: 1px dotted;
    }
    a[disabled] {
        opacity: 0.27;
    }
    .button {
        display: inline-block;
        min-width: 1em;
        text-align: center;
    }
    .showChildren {
        background: url("++resource++adi.stepbysteps.resources/closed.png")
                    no-repeat center $bg_primary;
    }
    .hideChildren {
        background: url("++resource++adi.stepbysteps.resources/expanded.png")
                    no-repeat center $bg_primary;
    }
    #content {
        background: $bg_primary;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: $controls_height + $controls_margin_bottom;
        padding: 1em 1em $controls_margin_bottom 1em;
        .head {
            float: right;
            background: $bg_secondary;
            color: $col_secondary;
            opacity: 0.75;
            div {
                display: inline-block;
            }
        }
        .title {
            color: inherit;
        }
        .text {
        }
        .children {
            margin-left: $font_size_primary/2;
        }
        .controls {
            position: fixed;
            bottom: $controls_margin_bottom;
            right: 0;
            width: 100%;
            line-height: $controls_height;
            height: $controls_height;
            .buttons {
                padding: 0 1em;
                background: $bg_tertiary;
                a {
                    min-width: $line_height_primary;
                }
                div {
                    display: inline;
                }
            }
        }
        .controls:hover {
            height: auto;
        }
    } // EO #content
    #navigator {
        .up,
        .down {
            display: none;
        }
    }
} // EO body.portaltype-stepbystep
