.start,
.state-active {
    color: #207207 !important; /* green */
}
.block,
.state-blocked {
    color: red !important;
}
.close,
.state-closed {
    color: inherit !important;
}
.close,
.state-new {
    color: #223772 !important; /* darkblue */
}
.pause,
.state-waiting {
    color: orange !important;
}
